<!DOCTYPE html>
<html>
<head>
    <!-- Comment:
         This page is a map of all the worlds airports plotted on a leaflet.js map. When the page loads
         a map is presented with airport icons. When the icon is select a popup opens with the airports name,
         location and emissions button. Once the emission button is selected, a side table will open with the
         current air quality of that current airport.
     -->
    <title>Airport Map</title>
    <!-- Imported libraries -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <!-- JQuery - used for search image-->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.5.1/dist/leaflet.css"/> <!-- leaflet.js-->
    <script src="https://unpkg.com/leaflet@1.5.1/dist/leaflet.js"></script> <!-- leaflet.js-->
    <!--   Created CSS files-->
    <link rel='stylesheet' href='/stylesheets/templates/templates.css'/> <!-- CSS for header and footer-->
    <link rel='stylesheet' href='/stylesheets/airportMap.css'/> <!-- CSS for tags on page-->
    <link rel='stylesheet' href='/stylesheets/map.css'/> <!-- CSS for leaflet.js map-->
</head>
<style>
    .leaflet-popup-content-wrapper { /*colour of leaflet.js popup*/
        background-color: #171c2b;
        color: white;
    }

    .centerText {
        text-align: center;
        font-weight: bold;
        width: 100%;
        font-size: 20px;
    }

    label {
        font-weight: bold;
        font-variant: small-caps;
        text-decoration: underline;
    }

    button {
        height: 20px;
        position: relative;
        width: 100px;
        top: 50%;
        left: 20%;
        background-color: #2b3141;
        color: white;
    }
</style>
<body>
<% include templates/header.ejs %>
<!-- Header from views/templates/header.ejs-->
<div class="splitOne left" id="mySidenav"> <!-- Left sided table (Closed on load)-->
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a> <!-- close table button-->
    <div id="planeTitle"></div><!-- Plane model title-->
    <div class="planePicture"></div><!-- flickr.com image of plane-->
    <div class="search">
        <table id="myTable">
            <tr>
                <td>Name:</td>
                <td></td><!-- Airport Name-->
            </tr>
            <tr>
                <td>City:</td>
                <td></td><!-- City of airport-->
            </tr>
            <tr>
                <td>Country:</td>
                <td></td><!-- Country of airport-->
            </tr>
            <tr>
                <td>Longitude:</td>
                <td></td><!-- Longitude of airport-->
            </tr>
            <tr>
                <td>Latitude:</td>
                <td></td><!-- Latitude of airport-->
            </tr>
            <tr>
                <td>Altitude:</td>
                <td></td><!-- Altitude of airport-->
            </tr>
            <tr>
                <td>Air Quality :</td>
                <td></td><!-- Air quality of airport-->
            </tr>
            <tr>
                <td>Air Status:</td>
                <td id="aqiColour"></td><!-- Air status of airport-->
            </tr>
            <tr>
                <td>Nitrogen Dioxide(NO2):</td>
                <td></td><!-- NO2 in the air of airport-->
            </tr>
            <tr>
                <td>Ozone gas:</td>
                <td></td><!-- Ozone gas in the air of airport-->
            </tr>
            <tr>
                <td>PM10:</td>
                <td></td><!-- PM10 in the air at airport-->
            </tr>
            <tr>
                <td>PM2.5:</td>
                <td></td><!-- PM2.5 in the air at airport-->
            </tr>
            <tr>
                <td>Sulfur dioxide(SO2):</td>
                <td></td><!-- SO2 in the air at the airport-->
            </tr>
            <tr>
                <td>Link:</td>
                <td><a id="airQualityLink">Aqicn Link</a></td><!-- Link to weather station-->
            </tr>
        </table><!-- myTable-->
    </div><!-- search-->
</div><!--splitOne left -->
<div class="split right" id="mapDiv"> <!-- Map div (full page on load) -->
    <div id='Map'></div> <!-- leaflet.js Map-->
</div>
<script>
    var airportsData =<%- JSON.stringify(jsonData) %>; //Database for all airport locations
</script>
<!--    Created Javascript files-->
<script type="text/javascript" src="/javascripts/airportMap/airportEmissionMap.js"></script>
<!--plotting airports on leaflet.js Map-->
<script type="text/javascript" src="/javascripts/airportMap/airportEmissionsCalculation.js"></script>
<!-- Getting air quality and image for airport-->
</body>
<!--JamesMurphy-16421512-->
</html>