
<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/templates/templates.css'/>
    <link rel='stylesheet' href='/stylesheets/documentation.css'/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

</head>
<style>

</style>
<body>
<% include templates/header.ejs %>
<div class="bodyDiv">
    <div class="about">
        <h1 class="Heading">Get in touch</h1>
        <div class="info">
            <div class="personalInfo">


            </div>
        </div>
    </div>
</div>
<% include templates/footer.ejs %>
</body>
<!--JamesMurphy-16421512-->
</html>