
<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/templates/templates.css'/>
    <link rel='stylesheet' href='/stylesheets/contact.css'/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

</head>
<style>

</style>
<body>
<% include templates/header.ejs %>
<div class="bodyDiv">
    <div class="about">
        <h1 class="Heading">Get in touch</h1>
        <h3 class="subHeading">"Love to hear from you"</h3>
        <div class="info">
            <div class="personalInfo">
                <form action="/messageSent" method="post">
                    <input type="text" placeholder=" Name:"  name="name">
                    <input type="text" placeholder=" Email:" name="email">
                    <br>
                    <select >
                        <option> Subject: </option>
                        <option> Problem</option>
                        <option> Comment</option>
                        <option> Business Enquiry</option>
                        <option> Improvement</option>
                        <option> Other...</option>
                    </select>
                    <br>
                    <textarea name="text"  placeholder=" Message" name="message"></textarea>
                    <br>
                    <button class="button" style="vertical-align:middle"><span>Send </span></button>
                </form>

            </div>
        </div>
    </div>
</div>
<% include templates/footer.ejs %>
</body>
<!--JamesMurphy-16421512-->
</html>