<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/templates/templates.css'/>
</head>
<body>
<% include templates/header.ejs %>

<% include templates/footer.ejs %>
</body>
</html>
