<!DOCTYPE html><!-- Error Page-->
<html>
<meta name="viewport" content="width=device-width, initial-scale=1">

<head>
    <!--Imported Libraries -->
    <link rel='stylesheet' href='/stylesheets/templates/templates.css'/><!-- CSS for header and footer-->
    <link rel='stylesheet' href='/stylesheets/index.css'/><!-- CSS for page (same as index)-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body>
<% include templates/header.ejs %><!-- Imported navbar-->
<div class="bodyDiv">
    <div class="about">
        <div class="info">
            <h1><%= message %></h1>
            <h2><%= error.status %></h2>
            <p><%= error.stack %></p>
        </div><!-- info-->
    </div><!-- about-->
</div><!-- bodyDiv-->
<% include templates/footer.ejs %><!-- Imported footer-->
</body>
<!--JamesMurphy-16421512-->
</html>