<!DOCTYPE html>
<html>
<head>
    <link rel='stylesheet' href='/stylesheets/templates/templates.css'/>
    <link rel='stylesheet' href='/stylesheets/index.css'/>
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
</head>
<body>
<% include templates/header.ejs %>
<div class="bodyDiv">
    <div class="about">
        <div class="info">
            <h1><%= message %></h1>
            <h2><%= error.status %></h2>
            <p><%= error.stack %></p>


        </div>
    </div>
</div>
<% include templates/footer.ejs %>
</body>
<!--JamesMurphy-16421512-->
</html>