<!DOCTYPE html><!-- Index Page-->
<html>
<head>
    <title><%= title %></title> <!-- Import title from routing file-->
    <link rel='stylesheet' href='/stylesheets/templates/templates.css'/><!-- header and footer CSS-->
    <link rel='stylesheet' href='/stylesheets/index.css'/><!-- Import CSS files for index page-->
</head>
<body>
<% include templates/header.ejs %><!-- Header from views/templates/header.ejs-->
<div class="bodyDiv">
    <div class="about">
        <h1 class="Heading"><%= title %></h1> <!-- Import title from routing file-->
        <div class="info">
            <div class="personalInfo">
                <p>Author: <%= nameStudent %></p> <!-- Import name from routing file-->
                <p>Version: <%= versionOfApplication %></p> <!-- Import version from routing file-->
                <p>GitHub: <a href="https://github.com/jamo1909/OpenSkyNetwork-FinalYearProject"><u>Source Code</u></a>
                </p><!-- Make link for GitHub-->
            </div> <!-- personalInfo-->
            <p class="description" style="font-size: 50px;"> <!-- Descriptions -->
            <p class="descriptionHeading">Description: </p> <!-- Heading-->
            <p style="font-size: 20px">
            The Real Time Aviation Emissions(RTAE) project is a project that addresses
            a problem that we are currently facing in the aviation industry. A major topic
            in the aviation industries at the moment is the emissions and carbon footprint
            being created from airports and aircraft's. This project was developed to use
            real time tracking of aircraft's using OpenSky Network API. The project also
            was developed to provide emissions and carbon footprints of Airports using Aqicn
            air quality API. This project provide data analysis on the data that it will collect
            in real time.
            <br>
            This project is an ExpressJS project which is a web framework for NodeJS. This
            project incorporates technologies such as JQuery, JavaScript, EJS, LeafletJS and
            PostgreSQL.
            <br>
            This project is currently a Beta version and will continue to improve. This project
            plans to be a cross-platform web application to produce an accurate real time aviation
            emissions calculation.
            </p>
            </p><!-- description-->
        </div><!-- info-->
    </div> <!-- about-->
</div><!-- bodyDiv-->
<% include templates/footer.ejs %><!-- Footer from views/templates/footer.ejs-->
</body>
<!--JamesMurphy-16421512-->
</html>