<!DOCTYPE html>
<html>
<head>
    <title>Map</title>
    <!-- Imported libraries -->
    <script src="https://unpkg.com/leaflet@1.5.1/dist/leaflet.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.5.1/dist/leaflet.css"/>
    <!--   Created CSS files-->
    <link rel='stylesheet' href='/stylesheets/templates/templates.css'/>
    <link rel='stylesheet' href='/stylesheets/map.css'/>
    <link rel='stylesheet' href='/stylesheets/planeMap.css'/>
</head>
<style>
    .leaflet-popup-content-wrapper { /*colour of leaflet.js popup*/
        background-color: #000;
        color: white;
    }
</style>
<body>
<% include templates/header.ejs %>
<div id='Map'></div>
</body>
<!--    Created Javascript files-->
<script type="text/javascript" src="/javascripts/planeMap/planeMapPlotting.js"></script>
</html>