<!DOCTYPE html><!-- Plane Map-->
<html>
<meta name="viewport" content="width=device-width, initial-scale=1">
<head>
    <title>Aircraft Map</title>
    <!-- Imported libraries -->
    <script src="https://unpkg.com/leaflet@1.5.1/dist/leaflet.js"></script> <!-- LeafletJS-->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.5.1/dist/leaflet.css"/><!-- LeafletJS-->
    <!--   Created CSS files-->
    <link rel='stylesheet' href='/stylesheets/templates/templates.css'/>
    <link rel='stylesheet' href='/stylesheets/map.css'/>
    <link rel='stylesheet' href='/stylesheets/planeMap.css'/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<style>
    .leaflet-popup-content-wrapper { /*colour of leaflet.js popup*/
        background-color: #171c2b;
        color: white;
    }

    .centerText {
        text-align: center;
        font-weight: bold;
        width: 100%;
        font-size: 20px;
    }

    button {
        height: 20px;
        position: relative;
        width: 100px;
        top: 50%;
        left: 20%;
        background-color: #2b3141;
        color: white;
    }

</style>
<body>
<!--  Import Navbar with ejs-->
<% include templates/header.ejs %>
<!--  LeafletJS map div -->
<div id='Map'></div>
</body>
<!--    Created Javascript files-->
<script type="text/javascript" src="/javascripts/planeMap/planeMapPlotting.js"></script>
<!--JamesMurphy-16421512-->
</html>