<!DOCTYPE html>
<html>
<head>
    <title>Search Aviation</title>
    <link rel='stylesheet' href='/stylesheets/templates/templates.css'/>
    <link rel='stylesheet' href='/stylesheets/search.css'/>

</head>
<body>
<% include templates/header.ejs %>
<div class="search">
    <input type="search"><br>
    <input type="submit">
</div>
</div>
</body>
</html>
