<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/templates/templates.css'/>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">

</head>
<style>

</style>
<body>
<% include templates/header.ejs %>
<div class="bodyDiv">
    <div class="about">

    </div>
</div>
<% include templates/footer.ejs %>
</body>
</html>