<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/templates/templates.css'/>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">

</head>
<style>
    body {
        text-align: center;
    }

    .headingTitle {
        margin-top: 20%;
        font: 60px "Lucida Grande", Helvetica, Arial, sans-serif;
        font-weight: bold;

    }

    button {
        margin-top: 20%;
        padding: 10px 20px 10px 20px;
        background-color: Transparent;
        background-repeat: no-repeat;
        border: none;
        cursor: pointer;
        overflow: hidden;
        border: 2px solid black;
        border-radius: 50%;
        font-size: 50px;
    }

    .button {
        background-color: #4CAF50; /* Green */
        border: none;
        color: white;
        padding: 20px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
    }

</style>
<body>
<div class="bodyDiv">
    <h1 class="headingTitle"><%= title %></h1>
    <button href="/index">START</button>

</div>
</body>
</html>