<!DOCTYPE html>
<html>
<head>
    <title>Data</title>
    <link rel='stylesheet' href='/stylesheets/templates/templates.css'/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!--    <script rel="script" src='/javascripts/api/airportQuery.js'></script>-->
    <script rel="text/javascript" src='/javascripts/api/airportQuery.js'></script>
    <script rel="text/javascript" src='/javascripts/DistanceFormula.js'></script>


</head>
<body>
<% include templates/header.ejs %>
<p>Student ID: <%= title %></p>
<% include templates/footer.ejs %>

</body>
</html>