<!-- This is the footer that is imported to pages via ejs-->
<div class="footer" id="footer">
    <h2 class="footerTitle">RTAE <span class="ProduceBy">Produce by TURE</span></h2>

</div>

<!--JamesMurphy - 16421512-->