<div class="topnav">
    <a href="/">Home</a>
    <a href="airportMap">Airport Mapping</a>
    <a href="planeMap">Plane Mapping</a>
    <a href="planeEmissions">Single Plane Emission</a>
    <a href="data">DATA</a>
</div>
