<!-- This is the header that is imported to pages via ejs-->

<div class="topnav">
    <a href="/">Home</a>
    <a href="airportMap">Airport Mapping</a>
    <a href="planeMap">Plane Mapping</a>
    <a href="dataAnalysis">Data Analysis</a>
    <a href="documentation">Documentation</a>
</div>
