<!-- This is the header that is imported to pages via ejs-->

<div class="topnav" id="myTopnav">
    <a href="/">Home</a>
    <a href="airportMap">Airport Mapping</a>
    <a href="planeMap">Aircraft Mapping</a>
    <a href="dataAnalysis">Data Analysis</a>
    <a href="documentation">Documentation</a>
    <a class="contactLink" id="contactLink" href="contact" >Contact</a>
    <a href="javascript:void(0);" class="icon" onclick="myFunction()">
        <i class="fa fa-bars"></i>
    </a>
</div>
<script>
    function myFunction() {
        var x = document.getElementById("myTopnav");
        if (x.className === "topnav") {
            x.className += " responsive";
        } else {
            x.className = "topnav";
        }
    }
</script>