<div class="topnav">
    <a href="/">Home</a>
    <a href="airportMap">Airport Mapping</a>
    <a href="planeMap">Plane Mapping</a>
    <a href="planeEmissions">Single Plane Emission</a>
    <a href="data">Data</a>
    <a href="search">Search</a>
    <a href="dataAnalysis">Data Analysis</a>
    <a href="documentation">Documentation</a>
</div>
