#data {
    background-color: white;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 80%;
    margin-top: 2%;
    margin-left: 10%;
    margin-right: 10%;
}

#data td {
    text-align: center;
    border: 1px solid #333333;
    padding: 8px;
}

#data th {
    text-align: center;
    /*border: 1px solid #ddd;*/
    padding: 8px;
}

/*#data tr:nth-child(even){background-color: #f2f2f2;}*/

#data tr:hover {
    background-color: #ddd;
}

#data th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #333;
    color: white;
}
